#speed-controller {
    width: 10%;
    overflow: visible
}

#object-code pre, #memory-state pre {
    height: 200px
}

#main {
    margin-top: 80px
}

.mdui-appbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999
}

.mdui-list-item>h1 {
    min-width: 32px;
    text-align: center;
    padding-right: 20px
}

.mdui-list-item>.output-list {
    width: calc(100% + 20px)
}

.mdui-card {
    border-radius: 20px
}

.mdui-textfield-input {
    height: 24px
}