.mdui-progress {
    position: fixed;
    top: 0;
    z-index: 9999
}

#nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999
}

#main {
    margin-top: 72px
}

@media (min-width: 600px) {
    #main {
        margin-top: 80px
    }
}

@media (max-width: 959px) and (orientation: landscape) {
    #main {
        margin-top: 64px
    }
}

#speed_slider {
    overflow: visible;
    width: 10%
}

#base>span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%) translateY(-50%)
}

.mdui-card, .mdui-panel-item, .mdui-panel-item-header {
    border-radius: 16px
}

pre {
    height: 200px
}

.stage-title {
    padding-right: 24px;
    min-width: 2pc;
    text-align: center
}

.mdui-list-item>.output {
    width: calc(100% + 20px)
}

.mdui-col {
    transition: .2s ease-out
}

.mdui-textfield-input {
    height: 24px
}